.header {
  background-color: var(--light);
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: space-between;
  padding: 24px;
}

.logo {
  outline: 0;
  &:hover,
  &:focus {
    position: relative;
    opacity: 0.9;
  }
  img {
    height: 64px;
  }
}

.botaoHamburger {
  display: none;
  @media screen and (max-width: var(--max-width)) {
    display: flex;
  }
}

.botaoFechar {
  background-color: red;
}
