.header {
  background-color: var(--light);
  position: sticky;
  top: 0;
  z-index: 3;
}

.headerScrollMode {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  background-color: var(--light-opacity);
  .nav {
    padding: 16px 24px;
  }
  .logo {
    img {
      height: 48px;
    }
  }
}

.nav {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: space-between;
  padding: 24px;
  transition: padding 0.5s ease;
}

.logo {
  outline: 0;
  &:hover,
  &:focus {
    position: relative;
    opacity: 0.9;
  }
  img {
    height: 64px;
    transition: height 0.5s ease;
  }
}

.hamburgerButton {
  display: none;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  background-color: var(--light);
  color: var(--primary);
  cursor: pointer;
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: var(--primary);
    color: var(--light);
  }
  &:active {
    background-color: var(--primary-light);
  }
  @media screen and (max-width: 800px) {
    display: flex;
  }
}

.closeButton {
  @extend .hamburgerButton;
  position: absolute;
  right: 24px;
  top: 24px;
}
