.header {
  background-color: var(--light);
  position: sticky;
  top: 0;
  z-index: 3;
}

.headerScrollMode {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.10);
  .nav {
    padding: 16px 24px;
  }
  .logo {
    img {
      height: 48px;
    }
  }
}

.nav {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: space-between;
  padding: 24px;
  transition: padding 0.5s ease;
}

.logo {
  outline: 0;
  &:hover,
  &:focus {
    position: relative;
    opacity: 0.9;
  }
  img {
    height: 64px;
    transition: height 0.5s ease;
  }
}

.botaoHamburger {
  display: none;
  @media screen and (max-width: var(--max-width)) {
    display: flex;
  }
}

.botaoFechar {
  background-color: red;
}
