.menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 16px;
  margin: 0;
  @media screen and (max-width: 930px) {
    display: none;
  }
}

.link {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: bold;
  color: var(--gray-700);
  font-size: 16px;
  padding: 16px 24px;
  outline: 0;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 2px;
    margin-top: -2px;
    background-color: var(--primary-light);
    transition: 0.2s cubic-bezier(1, 0.38, 0.35, 0.62);
  }
  &:hover,
  &:focus {
    color: var(--gray-900);
    &::after {
      width: 80px;
    }
  }
  img {
    height: 32px;
    opacity: 0.8;
    mix-blend-mode: multiply;
  }
}

.menuModal {
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
  @media screen and (max-width: 1200px) {
    display: flex;
  }
  .link {
    &:hover,
    &:focus {
      color: var(--light);
    }
  }
}
