.title {
  font-style: 16px;
  letter-spacing: 2px;
  color: var(--primary-dark);
  text-transform: uppercase;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.divider {
  width: 100%;
  max-width: 1000px;
  border: 1px solid var(--primary-dark);
}

.lightEffect {
  position: absolute;
  top: -20px;
  left: -200px;
  height: calc(100% + 20px);
  width: 200px;
}

.containerList {
  position: relative;
  max-width: var(--max-width);
  margin-bottom: 48px;
  overflow-x: hidden;
  width: 100%;
  &::after {
    content: "";
    @extend .lightEffect;
    box-shadow: 100px 0 40px white;
    @media screen and (max-width: 800px) {
      box-shadow: none;
    }
  }
  &::before {
    content: "";
    @extend .lightEffect;
    left: inherit;
    right: -200px;
    box-shadow: -100px 0 40px white;
    z-index: 1;
    @media screen and (max-width: 800px) {
      box-shadow: none;
    }
  }
}

.productList {
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  max-width: var(--max-width);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 0 180px;
  @media screen and (max-width: 800px) {
    padding: 0 36px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 400px;
  min-width: 320px;
  width: 400px;
  background-color: white;
  margin-right: 24px;
  border: 1px solid var(--primary);
  border-radius: 16px;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }
}

.imageContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.productImage {
  height: 320px;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-200);
  border-radius: 0 0 16px 16px;
}

.productName {
  flex-grow: 1;
  margin-left: 16px;
  text-align: left;
}

.buyButton {
  background-color: var(--primary);
  max-width: 100px;
  border-radius: 50px;
  font-weight: 600;
  line-height: 14px;
  padding: 6px 0;
  margin: 0 8px;
  color: var(--light);
  &:hover,
  &:focus {
    background-color: var(--primary-dark);
  }
}

.controlButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  z-index: 2;
  position: absolute;
  left: 56px;
  top: calc(50% - 56px);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: var(--light);
  &:hover,
  &:focus {
    opacity: 0.8;
  }
  img {
    height: 100%;
  }
  @media screen and (max-width: 800px) {
    left: 16px;
    width: 48px;
    height: 48px;
  }
}

.right {
  left: inherit;
  right: 56px;
  @media screen and (max-width: 800px) {
    right: 16px;
  }
}
