.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-family: Rajdhani;
  font-weight: 700;
  display: flex;
  padding: 0 32px;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 40px;
  background-color: var(--primary-dark);
  color: var(--light);
  border-radius: 56px;
  margin-bottom: 40px;
  font-style: italic;
  margin-top: 48px;
  &:hover,
  &:focus {
    background-color: var(--primary);
  }
  img {
    height: 70%;
    margin-right: 16px;
  }
  @media screen and (max-width: 800px) {
    font-size: 32px;
    padding: 0 16px;
    height: 56px;
  }
}

.buttonSecondary {
  background-color: var(--gray-100);
  color: var(--gray-700);
  &:hover,
  &:focus {
    background-color: var(--gray-200);
  }
  img {
    height: 50%;
    margin-right: 16px;
  }
}

.phones {
  display: flex;
  flex-wrap: wrap;
  a {
    margin: 24px;
  }
}

.address {
  font-size: 20px;
  margin-bottom: 32px;
  font-weight: bold;
  color: var(--gray-800);
  padding: 0 32px;
  text-align: center;
  &:hover,
  &:focus {
    color: var(--gray-600);
  }
}

.socialMedias {
  a {
    margin: 16px;
  }
  margin-bottom: 24px;
}